name: Package Games And Release

permissions:
    contents: write

on:
    workflow_dispatch:
    push:
        tags:
            - 'v*.*.**'

jobs:
    Build-And-Release:
        runs-on: windows-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Setup python
              uses: actions/setup-python@v4
              with:
                python-version: '3.11'
            
            - name: Install requirements
              run: |
                pip install setuptools==58.2.0
                python tools/setup.py install

            - name: Package ConwayGameOfLife
              run: pyinstaller --onefile -w ConwayGameOfLife/main.py -n ConwayGameOfLife
            
            - name: Package CodeOfLife
              run: pyinstaller --onefile -w CodeOfLife/main.py -n CodeOfLife

            - name: Upload Artifacts
              uses: softprops/action-gh-release@v1
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                body_path: release.md
                files: |
                    dist/*.exe
                    LICENSE
